<div class="container-fluid">
	<sba-accordion>
		<!-- Begin Application Configuration-->
		<sba-accordion-group>
			<sba-accordion-heading>
				<a ng-click="loadApplicationConf()">Application Configuration</a>
			</sba-accordion-heading>
			<sba-accordion-body>
				<div class="alert alert-error" ng-if="error">
					<b>Error:</b> {{ error }}
				</div>
				<form class="form-inline input-append">
					<input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
					<button class="btn" title="reload list" ng-click="getApplicationConfiguration()"><i class="fa fa-repeat"></i></button>
				</form>
				<sba-info-panel category="ConfigSource" panel-title="{{source.name}}" ng-repeat="source in conf" ng-show="!searchFilter || (source.properties | filter:searchFilter).length > 0">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col" width="30%">Key</th>
								<th scope="col" width="55%">Value</th>
								<th scope="col" width="15%">Origin</th>
							</tr>
						</thead>
						<tr ng-repeat="property in source.properties | filter:searchFilter">
							<td style="word-break: break-all;">{{property.key}}</td>
							<td style="word-break: break-all;">{{property.value}}</td>
							<td style="word-break: break-all;">{{property.origin}}</td>
						</tr>
						<tr ng-if="source.properties.length == 0">
							<td colspan="2">-</td>
						</tr>
					</table>
				</sba-info-panel>
			</sba-accordion-body>
		</sba-accordion-group>
		<!-- End Application Configuration -->

		<!-- Begin Application Build Information-->
		<sba-accordion-group>
			<sba-accordion-heading>
				<a ng-click="loadBuildInformation()">Application Build Information</a>
			</sba-accordion-heading>
			<sba-accordion-body>
				<div class="alert alert-error" ng-if="error">
					<b>Error:</b> {{ error }}
				</div>
				<form class="form-inline input-append">
					<input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
				</form>
				<div ng-show="!searchFilter || (buildInfo | filter:searchFilter).length > 0">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col" width="35%">Metric</th>
								<th scope="col" width="65%">Value</th>
							</tr>
						</thead>
						<tr ng-repeat="info in buildInfo | filter:searchFilter">
							<td style="word-break: break-all;">{{ info.name }}</td>
							<td style="word-break: break-all;">{{ info.value }}</td>
							<!--<td style="word-break: break-all;" ng-show="info.value.indexOf('http://') == 0 ||info.value.indexOf('https://') == 0"><a>{{ info.value }}</a></td>-->
							<!--<td style="word-break: break-all;" ng-hide="info.value.indexOf('http://' == 0) || info.value.indexOf('https://') == 0">{{ info.value }}</td>-->
						</tr>
					</table>
				</div>
			</sba-accordion-body>
		</sba-accordion-group>
		<!-- End Application Build Information -->

		<!-- Begin Host Information-->
		<sba-accordion-group>
			<sba-accordion-heading>
				<a ng-click="loadHostInformation()">Host Information</a>
			</sba-accordion-heading>
			<sba-accordion-body>
				<div class="alert alert-error" ng-if="error">
					<b>Error:</b> {{ error }}
				</div>
				<form class="form-inline input-append">
					<input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
				</form>
				<div ng-show="!searchFilter || (hostInfo | filter:searchFilter).length > 0">
					<table class="table table-hover">
						<thead>
						<tr>
							<th scope="col" width="35%">Metric</th>
							<th scope="col" width="65%">Value</th>
						</tr>
						</thead>
						<tr ng-repeat="info in hostInfo | filter:searchFilter">
							<td style="word-break: break-all;">{{ info.name }}</td>
							<td style="word-break: break-all;">{{ info.value }}</td>
						</tr>
					</table>
				</div>
			</sba-accordion-body>
		</sba-accordion-group>
		<!-- End Host Information -->

		<!-- Begin Environment Properties-->
		<sba-accordion-group>
			<sba-accordion-heading>
				<a>Environment Properties</a>
			</sba-accordion-heading>
			<sba-accordion-body>
				<div class="alert alert-error" ng-if="error">
					<b>Error:</b> {{ error }}
				</div>
				<form class="form-inline input-append">
					<input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
					<button class="btn" title="reload list" ng-click="refresh()"><i class="fa fa-repeat"></i></button>
				</form>
				<sba-info-panel panel-title="Environment manager" ng-show="refreshSupported">
					<sba-environment-manager environment="env" application="application" on-environment-changed="refresh"></sba-environment-manager>
				</sba-info-panel>
				<sba-info-panel category="PropertySource" panel-title="{{source.name}}" ng-repeat="source in env" ng-show="!searchFilter || (source.value | filter:searchFilter).length > 0">
					<table class="table table-hover">
						<col width="35%">
						<col width="65%">
						<tr ng-repeat="property in source.value | filter:searchFilter">
							<td style="word-break: break-all;">{{property.name}}</td>
							<td style="word-break: break-all;">{{property.value}}</td>
						</tr>
						<tr ng-if="source.value.length == 0">
							<td colspan="2">-</td>
						</tr>
					</table>
				</sba-info-panel>
			</sba-accordion-body>
		</sba-accordion-group>
		<!-- End Environment Properties -->


		<!-- Begin Command Stage Handler Component Status-->
        <sba-accordion-group>
            <sba-accordion-heading>
                <a ng-click="loadCommandStageHandlerComponentStatus()">CommandStageHandlerComponentStatus</a>
            </sba-accordion-heading>
            <sba-accordion-body>
                <div class="alert alert-error" ng-if="error">
                    <b>Error:</b> {{ error }}
                </div>
				<table class="table table-hover">
					<thead>
					<tr>
						<th scope="col" width="25%">StageId</th>
						<th scope="col" width="25%">Handler Name</th>
						<th scope="col" width="50%">Handler Class</th>
					</tr>
					</thead>
					<tr ng-repeat="info in cmdStHndlrCmptStatInfo">
						<td style="word-break: break-all;">{{ info['StageId'] }}</td>
						<td style="word-break: break-all;">{{ info['Handler Name'] }}</td>
						<td style="word-break: break-all;">{{ info['Handler Class'] }}</td>
					</tr>
				</table>
            </sba-accordion-body>
        </sba-accordion-group>
		<!-- End Command Stage Handler Component Status -->

		<!-- Begin RaptorBundleComponentStatus-->
		<sba-accordion-group>
			<sba-accordion-heading>
				<a ng-click="loadRaptorBundleComponentStatus()">RaptorBundlesComponentStatus</a>
			</sba-accordion-heading>
			<sba-accordion-body>
				<div class="alert alert-error" ng-if="error">
					<b>Error:</b> {{ error }}
				</div>
				<form class="form-inline input-append">
					<input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
				</form>
				<div ng-show="!searchFilter || (raptorBundleCmptStat | filter:searchFilter).length > 0">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr align="center" class="text-center">
									<th colspan="3">Bundle</th>
									<th colspan="3">SCM</th>
									<th colspan="2">Init</th>
								</tr>
								<tr>
									<th scope="col">Symbolic Name</th>
									<th scope="col">Version</th>
									<th scope="col">Top?</th>
									<th scope="col">URL</th>
									<th scope="col">Tag/Commit ID</th>
									<th scope="col">Branch</th>
									<th scope="col">Success</th>
									<th scope="col">Messages</th>
								</tr>
							</thead>
							<tr ng-repeat="info in raptorBundleCmptStat | filter:searchFilter">
								<td style="word-break: break-all;">{{ info['Bundle Symbolic Name'] }}</td>
								<td style="word-break: break-all;">{{ info['Bundle Version'] }}</td>
								<td style="word-break: break-all;">{{ info['Top Level?'] }}</td>
								<td style="word-break: break-all;">{{ info['SCM URL'] }}</td>
								<td style="word-break: break-all;">{{ info['Tag/Commit ID'] }}</td>
								<td style="word-break: break-all;">{{ info['Branch'] }}</td>
								<td style="word-break: break-all;">{{ info['Init Success?'] }}</td>
								<td style="word-break: break-all;">{{ info['Init Messages'] }}</td>
							</tr>
						</table>
					</div>
				</div>
			</sba-accordion-body>
		</sba-accordion-group>
		<!-- End RaptorBundleComponentStatus -->

		<!-- Begin RaptorCommandHandlerComponentStatus-->
		<sba-accordion-group>
			<sba-accordion-heading>
				<a ng-click="loadRaptorCommandHandlerComponentStatus()">RaptorCommandHandlerComponentStatus</a>
			</sba-accordion-heading>
			<sba-accordion-body>
				<div class="alert alert-error" ng-if="error">
					<b>Error:</b> {{ error }}
				</div>
				<table class="table table-hover">
					<thead>
					<tr>
						<th scope="col" width="20%">StageId</th>
						<th scope="col" width="20%">Handler Name</th>
						<th scope="col" width="50%">Handler Class</th>
						<th scope="col" width="10%">Handler Position [1-100]</th>
					</tr>
					</thead>
					<tr ng-repeat="info in raptorCmdHndlrCmptStat">
						<td style="word-break: break-all;">{{ info['StageId'] }}</td>
						<td style="word-break: break-all;">{{ info['Handler Name'] }}</td>
						<td style="word-break: break-all;">{{ info['Handler Class'] }}</td>
						<td style="word-break: break-all;">{{ info['Handler Position'] }}</td>
					</tr>
				</table>
			</sba-accordion-body>
		</sba-accordion-group>
		<!-- End RaptorCommandHandlerComponentStatus -->




	</sba-accordion>

</div>